html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	webkit-font-smoothing: antialiased;
}

.top-navigation { 
	background: #FFFFFF;
	position: fixed;
	top: 0;
	width: 100%;
	height:4.5em;
}

.top-navigation > .content {
    width: 970px;
 }

li {
	display: inline-block;
	color: RGBA(131,137,148,1);
	padding: 1em;
}

.navbar {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	padding-right: 4em;
}


#logo {
	margin:15px 0 0 120px;

} 

.frontPage {
	background-image:url("http://thinkful-ed.github.io/karma-clone/img/first-background.jpg");
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:cover;
	height:45.938rem;
	overflow: auto;
	text-align:center;
	color:#FFFFFF;
	margin: auto 0;
}

li:hover{
	background-color:#FFFFFF;
	color:#4c5058;
	cursor:pointer;
}

#active {
	color:#4c5058;
	font-weight:500;
}

button {
	border-radius: 4px;
	background-color:#f15a29;
	border: 1px solid #f15a29;
	width: 9.688rem;
	padding: 1rem 1.5rem;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 1.125rem;
	letter-spacing: 0.05em;
	text-shadow: none;
}

button:hover {
	background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

#intro{
	padding-top: 17.5rem;
    font-size: 3.125rem;
    margin-bottom: 0px;
}

h1, h3 {
	font-weight: 300;
}

.devices > h3 {
	font-size:1.5em;
}

.content {
	margin: 0 auto;
}

.cases {
	text-align: center;
	margin: 0 auto;
	background-color: #FFFFFF;
	color:#4c5058;
	max-width:850px;
	width:100%;
}

.cases .devices {
	width:33.3333333%;
    display: inline-block;
    float: left;
    margin: -5;
    border-bottom:1px solid #eaebec;
    border-bottom-style:inset;
    padding-bottom:5em;
}

footer {
	text-align: center;
	margin: 0 auto;
	width:100%;
	clear:both;
	padding-top:.5em;
	font:10px;
	color:black;
	background-color:#FFFFFF;
	font-weight:300;
}

footer >h3 {
	color:#4c5058;
	font-size:1em;
	font-weight:500;
	text-align:center;
	-webkit-font-smoothing: antialiased;
}

footer > p{
	margin-left:0;
	margin-bottom:5em;
	margin-top:0;
	color:#838994;
	font-size:.9em;
	font-weight:300;
	-webkit-font-smoothing: antialiased;
}

.social{
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	padding-left:0;	
}

.twittercircle, .facebookcircle, .instacircle {
	border: 1px solid #eaebec;
	border-radius:50%;
	height:2.5rem;
	width:2.5rem;
	padding: 0.625rem 0;
	margin: 1.25rem 5px;
	margin-top:0;
}

.twittercircle {
	color:#55acee;
}

.twittercirle:hover {
	cursor: pointer;
	color:#55acee;
}

.facebookcircle {
	color:#4c66a4;
}

.facebookcirle:hover {
	cursor:pointer;
	color:#4c66a4;
}

.instacircle:hover{
	cursor:pointer;
	color:#3f729b;
}

.instacircle {
	color:#3f729b;
}
