html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	webkit-font-smoothing: antialiased;
}

.top-navigation { 
	background: #FFFFFF;
	position: fixed;
	top: 0;
	width: 100%;
	max-height:10em;
}

.top-navigation > .content {
    width: 970px;
    height: 50px;
 }

li {
	display: inline-block;
	color: RGBA(131,137,148,1);
	padding: 1em;
}

.navbar {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	webkit-font-smoothing: antialiased;
	padding-right: 4em;
}


#logo {
	margin:15px 0 0 120px;

} 

.frontPage {
	background-image:url("../first-background.jpg");
	background-position:0 bottom fixed;
	background-repeat:no-repeat;
	background-size:cover;
	height:45.938rem;;
	text-align:center;
	color:#FFFFFF;
	margin: auto 0;
}

li:hover{
	background-color:#FFFFFF;
	color:#4c5058;
	cursor:pointer;
}

#active {
	color:#4c5058;
	font-weight:500;
}

button {
	border-radius: 4px;
	background-color:#f15a29;
	border-color: #f15a29;
	width: 9.688rem;
	padding: 1rem 1.5rem;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 1.125rem;
	letter-spacing: 0.05em;
	text-shadow: none;
}

button:hover {
	background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

#intro{
	padding-top: 17.5rem;
    font-size: 3.125rem;
    margin-bottom: 0px;
}

h1, h3 {
	font-weight: 300;
}

.content {
	margin: 0 auto;
}

.cases {
	text-align: center;
	margin: 0 auto;
	background-color: #FFFFFF;
	color:#4c5058;
}

footer {
	text-align: center;
	margin: 0 auto;
}

.cases .devices {
	width:33.3333333%;
    display: inline-block;
    float: left;
}


